
  <div class="subject">
    <%= render_issue_tree(@issue) %>
  </div>


<div class="<%= @issue.css_classes %> details">

<div class="issue__topbar">
	<div class="issue__topbar__action-menu">
		<% if @prev_issue_id || @next_issue_id %>
				<div class="issue__topbar__paginator">
					<div class="next-prev-links contextual">
						<%= link_to_if @prev_issue_id,
													 "\xc2\xab #{l(:label_previous)}",
													 (@prev_issue_id ? issue_path(@prev_issue_id) : nil),
													 :title => "##{@prev_issue_id}",
													 :accesskey => accesskey(:previous) %> |
						<% if @issue_position && @issue_count %>
								<span class="position"><%= l(:label_item_position, :position => @issue_position, :count => @issue_count) %></span> |
						<% end %>
						<%= link_to_if @next_issue_id,
													 "#{l(:label_next)} \xc2\xbb",
													 (@next_issue_id ? issue_path(@next_issue_id) : nil),
													 :title => "##{@next_issue_id}",
													 :accesskey => accesskey(:next) %>
					</div>
				</div>
		<% end %>

		<%= render :partial => 'action_menu' %>
	</div>
  <%= avatar(@issue.author, :size => "80") %>

  <h2><b><%= issue_heading(@issue) %></b> <%= render_issue_subject_healine(@issue) %></h2>

  <p class="author">
  <%= authoring @issue.created_on, @issue.author %>.
  <% if @issue.created_on != @issue.updated_on %>
  <%= l(:label_updated_time, time_tag(@issue.updated_on)).html_safe %>.
  <% end %>
  </p>
	<div class="issue__progress-bar">
		<svg class="issue__progress-bar__circle" width="100" height="100" viewBox="0 0 100 100">
			<defs>
				<linearGradient id="gradient">
					<stop offset="5%" stop-color="#e87722" />
					<stop offset="95%" stop-color="#FFC338" />
				</linearGradient>
			</defs>
			<circle cx="50" cy="50" r="36" fill="none" stroke="rgba(255, 255, 255, 0.1)" stroke-width="6" />
			<%= progress_done_ratio = 226.19448*(1-@issue.done_ratio*0.01) %>
			<circle cx="50" cy="50" r="36" fill="none" stroke="url(#gradient)" stroke-width="6" stroke-dasharray="226,19448" stroke-dashoffset="<%= progress_done_ratio %>"/>
		</svg>
		<div class="issue__progress-bar--text">
			<%= "#{@issue.done_ratio} %" %>
		</div>
	</div>
</div>
<div class="issue__content">
<div class="attributes">
    <div id="issue-attributes">
<%= issue_fields_rows do |rows|  
  i = 0
  unless @issue.hidden_attribute?('status')
	rows.left l(:field_status), h(@issue.status.name), :class => 'status'
	i += 1
  end
  
  unless @issue.hidden_attribute?('priority_id')
    if i % 2 == 0
      rows.left l(:field_priority), h(@issue.priority.name), :class => 'priority'
	else
	  rows.right l(:field_priority), h(@issue.priority.name), :class => 'priority'
	end
	i += 1
  end
  unless @issue.disabled_core_fields.include?('assigned_to_id') || @issue.hidden_attribute?('assigned_to_id')
    if i % 2 == 0
      rows.left l(:field_assigned_to), avatar(@issue.assigned_to, :size => "14").to_s.html_safe + (@issue.assigned_to ? link_to_user(@issue.assigned_to) : "-"), :class => 'assigned-to'
	else
	  rows.right l(:field_assigned_to), avatar(@issue.assigned_to, :size => "14").to_s.html_safe + (@issue.assigned_to ? link_to_user(@issue.assigned_to) : "-"), :class => 'assigned-to'
	end
	i += 1
  end
  
  unless @issue.disabled_core_fields.include?('category_id') || @issue.hidden_attribute?('category_id')
		if @issue.category.present?
			if i % 2 == 0
				rows.left l(:field_category), h(@issue.category ? @issue.category.name : "-"), :class => 'category'
			else
				rows.right l(:field_category), h(@issue.category ? @issue.category.name : "-"), :class => 'category'
			end
			i += 1
		end
  end
  unless @issue.disabled_core_fields.include?('fixed_version_id') || @issue.hidden_attribute?('fixed_version_id')
		if @issue.fixed_version.present?
			if i % 2 == 0
				rows.left l(:field_fixed_version), (@issue.fixed_version ? link_to_version(@issue.fixed_version) : "-"), :class => 'fixed-version'
			else
				rows.right l(:field_fixed_version), (@issue.fixed_version ? link_to_version(@issue.fixed_version) : "-"), :class => 'fixed-version'
			end
			i += 1
		end
  end

  unless @issue.disabled_core_fields.include?('start_date') || @issue.hidden_attribute?('start_date')
		if @issue.start_date.present?
			if i % 2 == 0
					rows.left l(:field_start_date), format_date(@issue.start_date), :class => 'start-date'
			else
				rows.right l(:field_start_date), format_date(@issue.start_date), :class => 'start-date'
			end
			i += 1
		end
  end
  unless @issue.disabled_core_fields.include?('due_date') || @issue.hidden_attribute?('due_date')
		if @issue.due_date.present?
			if i % 2 == 0
					rows.left l(:field_due_date), format_date(@issue.due_date), :class => 'due-date'
			else
				rows.right l(:field_due_date), format_date(@issue.due_date), :class => 'due-date'
			end
			i += 1
		end
  end
	if false
		unless @issue.disabled_core_fields.include?('done_ratio') || @issue.hidden_attribute?('done_ratio')
			if i % 2 == 0
				rows.left l(:field_done_ratio), progress_bar(@issue.done_ratio, :width => '80px', :legend => "#{@issue.done_ratio}%"), :class => 'progress'
		else
			rows.right l(:field_done_ratio), progress_bar(@issue.done_ratio, :width => '80px', :legend => "#{@issue.done_ratio}%"), :class => 'progress'
		end
		i += 1
		end
	end
  
  unless @issue.disabled_core_fields.include?('estimated_hours') || @issue.hidden_attribute?('estimated_hours')
    unless @issue.estimated_hours.nil?
	  if i % 2 == 0
        rows.left l(:field_estimated_hours), l_hours(@issue.estimated_hours), :class => 'estimated-hours'
	  else
	    rows.right l(:field_estimated_hours), l_hours(@issue.estimated_hours), :class => 'estimated-hours'
	  end
	  i += 1
    end
  end
  if User.current.allowed_to?(:view_time_entries, @project)
		if @issue.total_spent_hours > 0
			if i % 2 == 0
					rows.left l(:label_spent_time), (@issue.total_spent_hours > 0 ? link_to(l_hours(@issue.total_spent_hours), issue_time_entries_path(@issue)) : "-"), :class => 'spent-time'
			else
				rows.right l(:label_spent_time), (@issue.total_spent_hours > 0 ? link_to(l_hours(@issue.total_spent_hours), issue_time_entries_path(@issue)) : "-"), :class => 'spent-time'
			end
		end
  end
end %>
<%= render_custom_fields_rows(@issue) %>
    </div>
    <div id="issue-states">
        <%= call_hook(:view_issues_show_details_bottom, :issue => @issue) %>
    </div>
</div>

<% if @issue.description? || @issue.attachments.any? -%>
<hr />
<% if @issue.description? %>
<div class="description">
  <div class="contextual">
  <%= link_to l(:button_quote), quoted_issue_path(@issue), :remote => true, :method => 'post', :class => 'icon icon-comment' if authorize_for('issues', 'edit') %>
  </div>

  <div class="wiki">
  <%= textilizable @issue, :description, :attachments => @issue.attachments %>
  </div>
</div>
<% end %>
<%= link_to_attachments @issue, :thumbnails => true %>
<% end -%>

<%= call_hook(:view_issues_show_description_bottom, :issue => @issue) %>

<% if !@issue.leaf? || User.current.allowed_to?(:manage_subtasks, @project) %>
<hr />
<div id="issue_tree">
<div class="contextual">
  <%= link_to_new_subtask(@issue) if User.current.allowed_to?(:manage_subtasks, @project) %>
</div>
<p><strong><%=l(:label_subtask_plural)%></strong></p>
<%= render_descendants_tree(@issue) unless @issue.leaf? %>
</div>
<% end %>

<% if @relations.present? || User.current.allowed_to?(:manage_issue_relations, @project) %>
<hr />
<div id="relations">
<%= render :partial => 'relations' %>
</div>
<% end %>

</div>

</div>
<% if @journals.present? %>
<div id="history">
<%= render :partial => 'history', :locals => { :issue => @issue, :journals => @journals } %>
</div>
<% end %>


<div style="clear: both;"></div>
<%= render :partial => 'action_menu' %>

<div style="clear: both;"></div>
<% if @issue.editable? %>
  <div id="update" style="display:none;">
  <h3><%= l(:button_edit) %></h3>
  <%= render :partial => 'edit' %>
  </div>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
  <%= f.link_to 'PDF' %>
<% end %>

<% html_title "##{@issue.id}: #{@issue.subject}" %>

<% content_for :sidebar do %>
  <%= render :partial => 'issues/sidebar' %>

  <% if User.current.allowed_to?(:add_issue_watchers, @project) ||
    (@issue.watchers.present? && User.current.allowed_to?(:view_issue_watchers, @project)) %>
    <div id="watchers">
      <%= render :partial => 'watchers/watchers', :locals => {:watched => @issue} %>
    </div>
  <% end %>
	<% if @changesets.present? %>
			<div id="issue-changesets">
				<h3><%=l(:label_associated_revisions)%></h3>
				<%= render :partial => 'changesets', :locals => { :changesets => @changesets} %>
			</div>
	<% end %>
<% end %>

<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, {:format => 'atom', :key => User.current.rss_key}, :title => "#{@issue.project} - #{@issue.tracker} ##{@issue.id}: #{@issue.subject}") %>
<% end %>

<%= context_menu issues_context_menu_path %>
